@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  /*background-color: #ffdee6; */
  background-color: #ffe6ed;
}

body{
  padding-top: 80px;
}

.navbar {
  padding: 0.8rem;
  /*background-color: #cfcfcf !important;*/
  box-shadow: 0 5px 5px -6px #999;
}

.navbar-brand{
  font-size: 1.5em;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em;
}

.box{
  border-radius: 25px;
}

.more-details{
  vertical-align: bottom;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}